@import 'base/normalize.scss';

//VARIABLES
$blue: #548ca8;
$blue-100: #eaf2f9;
$gray-500: #4c4c6d;
$brown-100: #ffeaca;
$gray-100: #e8f6ef;
$gray-200: #fafbff;
$black: #000814;

//BREAKPOINTS
$breakpoint-mb-small: 576px;
$breakpoint-mb: 768px;
$breakpoint-mb-large: 992px;
$breakpoint-desk: 1368px;

//MIXINS
@mixin responsive-containerdesk($margin) {
  -webkit-border-radius: $margin;
  margin: $margin;
  max-width: 1360px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -webkit-scroll-behavior: smooth;
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }
  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  outline: 0 !important;
}

header,
.section-title {
  font-family: 'Fredoka One', cursive;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a,
a:hover {
  text-decoration: none;
  color: inherit;
  outline: 0;
}

a:hover,
a:active,
a:focus {
  outline: 0 !important;
}

.container_box {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body.dark,
body.dark header {
  background-color: #292c35;
  color: #fff;
}

body {
  -webkit-font-smoothing: antialiased;
  background: $blue-100;
  color: $black;
  font-family: sans-serif;
  transition: background 0.2s linear;

  .modal-dialog {
    max-width: 800px;
    margin: 30px auto;
  }

  .modal-body {
    position: relative;
    padding: 0px;
  }
  .close {
    position: absolute;
    right: 10px;
    top: 0px;
    z-index: 999;
    font-size: 2rem;
    font-weight: normal;
    color: #fff;
    opacity: 1;
  }

  header {
    background-color: $blue-100;
    .header_container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 30px 40px;

      @media (min-width: $breakpoint-desk) {
        @include responsive-containerdesk(0 auto);
      }

      .logo_wrapper {
        .logo {
          margin: 20px auto 0;
          width: 150px;
        }
      }

      .hamburguer_menu__wrapper {
        font-size: 30px;
        z-index: 1;
        .hamburguer_menu {
          display: none;
          position: absolute;
          top: 40px;
          right: 40px;
          transition-delay: 2s;

          @media (max-width: $breakpoint-mb) {
            display: block;
          }
        }
      }

      .menu_show {
        visibility: visible !important;
        opacity: 1 !important;
        transform: scale(1) !important;
        transition: transform 0.2s ease-in-out !important;
        z-index: 1 !important;
      }

      .menu_wrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .switch_wrapper {
          margin: 0 40px;

          @media (max-width: $breakpoint-mb) {
            padding: 20px 0;
            position: absolute;
            top: 26px;
            right: 80px;
          }

          .checkbox {
            opacity: 0;
            position: absolute;
          }

          .far.fa-lightbulb {
            color: #f1c40f;
          }
          .fas.fa-lightbulb {
            color: #8d99ae;
          }

          .label {
            background-color: #111;
            border-radius: 50px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            position: relative;
            height: 26px;
            width: 50px;
            transform: scale(1.5);
          }

          .label .ball {
            background-color: #fff;
            border-radius: 50%;
            position: absolute;
            top: 2px;
            left: 2px;
            height: 22px;
            width: 22px;
            transform: translateX(0px);
            transition: transform 0.2s linear;
          }

          .checkbox:checked + .label .ball {
            transform: translateX(24px);
          }
        }

        nav {
          display: flex;

          @media (max-width: $breakpoint-mb) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            visibility: hidden;
            opacity: 0;
            transform: scale(0.7);
            position: relative;
            top: 25px;
            left: 28px;
          }

          a {
            @media (max-width: $breakpoint-mb) {
              padding: 10px 20px;
              display: block;
            }
          }

          a:not(:last-child) {
            margin-right: 10px;

            @media (max-width: $breakpoint-mb) {
              margin-right: 0;
              border-bottom: 1px solid #ddd;
            }
          }
          a:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  main {
    .main_container {
      .main_serie__background {
        background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 100%),
          url('../assets/breakingbadfull.jpg');
        background-size: cover;
        height: 450px;
        .main_serie_wrapper {
          display: flex;
          justify-content: center;
          flex-direction: column;
          height: 450px;
          padding: 30px 40px;
          @media (min-width: $breakpoint-desk) {
            @include responsive-containerdesk(0 auto);
          }

          .main_serie {
            color: $gray-100;
            width: 70%;
            .serie_title {
              font-size: 2rem;
              margin-bottom: 1rem;
            }

            .serie_description {
              margin-bottom: 40px;
            }

            .serie_buttons {
              button {
                background-color: rgba(0, 0, 0, 0.5);
                border: none;
                color: $gray-100;
                padding: 15px 30px;
                transition: 0.3s ease all;
                outline: none;

                @media (max-width: $breakpoint-mb) {
                  margin: 10px 0;
                  width: 200px;
                }
              }

              button i {
                margin-right: 8px;
              }

              button:not(:last-child) {
                margin-right: 15px;
              }

              button:hover {
                background-color: $gray-100;
                color: $gray-500;
              }
            }
          }
        }
      }
      .carousel_wrapper {
        padding: 0 10px;
        h4 {
          text-align: center;
          padding: 20px 0;

          & i {
            margin-left: 8px;
          }
        }

        @media (min-width: $breakpoint-desk) {
          @include responsive-containerdesk(20px auto !important);
        }

        .carousel {
          .item {
            position: relative;
            cursor: pointer;
            .item_overlay {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              width: 100%;
              color: #fff;
              opacity: 0;
              background: linear-gradient(
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5) 100%
              );
            }
            .item_description {
              display: none;
              position: absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
              color: $gray-200;
              width: 200px;
              text-align: center;
            }

            &:hover {
              .item_description {
                display: block;

                .text {
                  span.parental_rating {
                    border: 1px solid $gray-100;
                    padding: 2px;
                    border-radius: 2px;
                  }
                  button {
                    background-color: rgba(0, 0, 0, 0.5);
                    border: none;
                    color: $gray-100;
                    padding: 15px 30px;
                    transition: 0.3s ease all;
                    outline: none;

                    @media (max-width: $breakpoint-mb) {
                      margin: 10px 0;
                    }
                  }

                  button i {
                    margin-right: 8px;
                  }

                  button:not(:last-child) {
                    margin-right: 15px;
                  }

                  button:hover {
                    background-color: $gray-100;
                    color: $gray-500;
                  }

                  & .text h3,
                  span {
                    filter: brightness(100%);
                  }
                }
              }
              .item_overlay {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }

  footer {
    .footer-basic {
      padding: 40px 0;
      & ul {
        padding: 0;
        list-style: none;
        text-align: center;
        font-size: 18px;
        line-height: 1.6;
        margin-bottom: 0;
      }

      & li {
        padding: 0 10px;
      }

      & ul a {
        color: inherit;
        text-decoration: none;
        opacity: 0.8;
      }

      & ul a:hover {
        opacity: 1;
      }

      & .social {
        text-align: center;
        padding-bottom: 25px;
      }

      & .social > a {
        font-size: 24px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        border: 1px solid #ccc;
        margin: 0 8px;
        color: inherit;
        opacity: 0.75;
      }

      & .social > a:hover {
        opacity: 0.9;
      }

      & .copyright {
        margin-top: 15px;
        text-align: center;
        font-size: 13px;
        color: #aaa;
        margin-bottom: 0;
      }
    }
  }
}
